

<h2>Lecture Management page</h2>

<div class="row">
  <div class="col s6">
    <form action="/" method="POST">
      <input type="text" id="name" name="talks" placeholder="Subject Here">
      <input type="text" id="name" name="LectID" placeholder="Name(s) of Speakers">
      <input type="text" id="name" name="Date" placeholder="mm/dd/yyyy">
      <input type="text" id="name" name="Location" placeholder="Location of Event">
      <button type="submit" class="addQuoteButton">Submit</button>
    </form>
  </div>
</div>

<br/>
<br/>
<a href="/users/logout">Logout<a/>