
	<div class="wrapper">

  <div class="col-md-6  photo">
    IMAGE OF CHRISTOPHER HERE
    <img src="../public/assets/images/" class="resize">

  </div> <!-- photo div -->



  <div class="col-md-4 about">
    <h2> About the Christopher </h2>
    <p class="blurb">Bellitto Bio: updated Sept. 2017
    Dr. Christopher M. Bellitto is Professor of History at Kean University in New Jersey, where he teaches courses ancient and medieval history. A specialist in church history and reform, he is the author of ten books, including the companion volumes Renewing Christianity and The General Councils along with 101 Questions and Answers on Popes and the Papacy. His latest book is Ageless Wisdom: Lifetime Lessons from the Bible and his current book project is a history of humility as the lost virtue. His articles have appeared in academic journals in the United States and Europe; he has won grants from the Fulbright Program and the National Endowment for the Humanities. Dr. Bellitto also serves as Academic Editor at Large of Paulist Press and series Editor in Chief of Brill’s Companions to the Christian Tradition. He also offers about 30 public lectures each year; he is a member of the Public Scholar Speakers Bureau of the NJ Council for the Humanities and has taped mini audio courses for Now You Know Media. A media commentator on church history and contemporary Catholicism, he appears frequently in print, on radio, and television.</p>

    <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{{!-- <span class="open-slide">
  	<a href="#" onclick="openSlideMenu()">
  		<svg width="30" height="30">
  			<path d="M0,5 30,5" stroke="#fff"
  				stroke-width="5"/>
  			<path d="M0,14 30,14" stroke="#fff"
  				stroke-width="5"/>
			<path d="M0,23 30,23" stroke="#fff"
  				stroke-width="5"/>
  		</svg>
  	</a>		
</span> --}}
	{{!-- <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
		<i class="glyphicon glyphicon-align-left"></i>
		Toggle Navigation
	</button> --}}

  </div> <!-- about div -->




  <nav id="sidebar">
  	<div class="side-bar-header">
  		<h3>Addtional Information</h3>
  	</div>

  	<ul class="list-unstyled components">
  	<li><a href="/" class="active nav-button">Home</a></li>
    <li><a href="/christopher" class="nav-button">About Christopher</a></li>
    <li><a href="/brooks" class="nav-button">About Brooks</a></li>
		<li><a href="/lectures" class="nav-button">Upcoming Talks</a></li>
		{{!-- <li><a href="/contact" class="nav-button">Contact</a></li> --}}
	</ul>
  </nav>





  </div> <!-- wrapper --> 


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>

$(document).ready(function() {
  
    $('#sidebarCollapse').on('click', function() {
      $('#sidebar').toggleClass('active');
    });
});
</script>