<main role="main" class='container-fluid'>
	
<div class="row content">
  <div class="col-md-6  photo">
    <img src="../public/assets/images/brookdale.jpg" class="resize">
  </div> <!-- photo div -->
  <div class="col-md-4 about">
    <h2> About the Lecturers </h2>
    <p>Rabbi Susman and Dr. Bellitto have lectured as a pair for over a decade, offering talks on what is shared and distinct in Christmas and Chanukah, Passover and Easter, scripture and traditions. Their goal is to bridge the polarized gap between Judaism and Christianity by using an open-eyed view of history to promote understanding and good faith moving forward.</p>
  </div> <!-- about div --> 
</div> <!-- row -->  

</main> <!-- Container fluid -->