body {
	background-color: #F0EBD8;
	/*background-image: url(../assets/images/hd1080.png);*/

}

.navbar{
	background-color: #1D2D44;
	width: 100%;
}

.something {
	display: inline;
	float: left;
}

.container-fluid {
	padding: 0 0;
	}

.content{
	width: 100%;
	margin-bottom: 50px;
}

.myName{
	color: #F0EBD8;
}

.photo {
	padding: 0 0;
}

.resize {
	height: 100%;
	width: 100%;
}

.about{
	background-color: #3E5C76;
}

.footer{ 
	background-color: #0D1321;
	height: 70px;
	width: 100%;
	opacity: .9;
}

.footerText{
	color: #748CAB;
	text-align: center;
	margin-top: 20px;
}